.footer-logo{
    font-size: 20px;
    letter-spacing: 5px;
    margin-left: 3%;
    
}

.logo{
    height: 64px;
    width: 64px;
}

.right{
    text-align: right;
}

.fa .fa-facebook-square{
    color: blue;
}


#contact{
    padding-top: 80px;
}